<div class="header">
    <h1 class="title">Headline News Story Finder</h1>
    <div class="current"><h3></h3></div>  

  <nav class="navbar navbar-expand-lg navbar-default bg-success">
      <h2><a class="navbar-brand" href="/"><span class="badge badge-success">HEADLINE NEWS STORY FINDER</span></a></h2>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
              <a class="nav-item active">
                  <a class="nav-link" href="/"><button type="button" class="btn btn-outline-light btn-lg">HOME
                      </button><span class="sr-only"> - Current </span></a>
              
              <a class="nav-item">
                  <a class="nav-link" href="/{{'category/Business'}}"><button type="button"
                          class="btn btn-outline-light btn-lg">BUSINESS</button></a>
              
              <a class="nav-item">
                  <a class="nav-link" href="/{{'category/Technology'}}"><button type="button"
                          class="btn btn-outline-light btn-lg">TECHNOLOGY</button></a>
              
              <a class="nav-item">
                  <a class="nav-link" href="/{{'category/Science'}}"><button type="button"
                          class="btn btn-outline-light btn-lg">SCIENCE</button></a>
              
              <a class="nav-item">
                  <a class="nav-link" href="/{{'category/Sports'}}"><button type="button"
                          class="btn btn-outline-light btn-lg">SPORTS</button></a>
              
              <a class="nav-item">
                  <a class="nav-link" href="/{{'category/Entertainment'}}"><button type="button"
                          class="btn btn-outline-light btn-lg">ENTERTAINMENT</button></a>
          </ul>
      </div>
  </nav>
  </header>
</div>