<div class="header">&nbsp;
   <div class="container-fluid"><h1 class="title">HEADLINE NEWS - STORY FINDER</h1></div>&nbsp;
    <header class="current">

  <nav class="navbar navbar-expand-lg navbar-default bg-success">
      <h4><a class="navbar-brand" href="/"><span class="badge badge-success">HEADLINE NEWS STORY FINDER</span></a></h4>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
              <a class="nav-item active">
                  <a class="nav-link" href="/"><button type="button" class="btn btn-outline-light btn-lg">HOME
                      </button><span class="sr-only"></span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              
              <a class="nav-item">
                  <a class="nav-link" href="/{{'category/Business'}}"><button type="button"
                          class="btn btn-outline-light btn-lg">BUSINESS</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
              
              <a class="nav-item">
                  <a class="nav-link" href="/{{'category/Technology'}}"><button type="button"
                          class="btn btn-outline-light btn-lg">TECHNOLOGY</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
              
              <a class="nav-item">
                  <a class="nav-link" href="/{{'category/Science'}}"><button type="button"
                          class="btn btn-outline-light btn-lg">SCIENCE</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
              
              <a class="nav-item">
                  <a class="nav-link" href="/{{'category/Sports'}}"><button type="button"
                          class="btn btn-outline-light btn-lg">SPORTS</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
              
              <a class="nav-item">
                  <a class="nav-link" href="/{{'category/Entertainment'}}"><button type="button"
                          class="btn btn-outline-light btn-lg">ENTERTAINMENT</button></a>
          </ul>
      </div>
   </nav>
  </header>
</div>&nbsp;