{% extends 'layout.html' %}

{% block content %}
{{super}}
<br>
<br>
<br>
  <h3 class="text-center" class="text-capitalize"> {{id}} </h3>
        <div class="container">
            <div class="row row-cols-3">
        <div class="card-columns">
            {% for article in articles %}

            <div class="card">
                <img class="card" src="{{article.image}}" width=720px alt="Card image cap" >
                <div class="card-body">
                    <h6 class="card-title">{{article.author}}</h6>
                    <h4 class="card-text">{{article.description}}</h4>&nbsp;
                    <a href="{{article.url}}">
                        <p class="card-text">Click Here For The Full Story</p>
                    </a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Article date:{{article.time}}</small>
                </div><br>
            </div>
            {% endfor %}
        </div>
    </div>
       
{% endblock %}