{% extends 'layout.html' %}

{% block content %}

<h1 class="align-center" class="text-uppercase">{{title}} News
    </h1>
    <div class="container">
        <div class="row row-cols-1">
            <div class="raw">


            <div class="row col-sm-12">

                {% for category in category %}
                <div class="card">
                    <img src="{{category.image}}" width="900px" alt="Card image cap" >
                    <div class="card-body">
                        <h3 class="card-title">{{category.author}}</h3>
                       <h4 class="card-text">{{category.description}}</h4>
                        <a href="{{category.url}}"
                             class="btn btn-outline-secondary btn-lg">For The Full Story Click Here
                        </a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Publish date:{{category.time}}</small>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
