{% extends 'layout.html' %}
{% block content %}

<br>
<div class="container-fluid">
    <h2>Headlines Listed By Source Website</h2>
    <div class="row">
        <div class="row col-sm-3">
            <div class="list-group list-group-flush scroll">
                <ul>
                    {% for source in source %}
                    <br>
                    <a href="/article/{{source.id}}">
                       <h5 class="card-text">{{source.id}}</h5>
                    </a>
                    {% endfor %}

                </ul>
            </div>
        </div>
        <div class="row col-sm-8">
            {% for headline in headline %}
            <div class="card">
                <img src="{{headline.image}}" width="680px" alt="Card image cap">
                    <div class=" card-body">
                <h6 class="card-title">{{headline.author}}</h6>
                <h4 class="card-text">{{headline.description}}</h4><br>
                <a href="{{headline.url}}"
                    class="btn btn-outline-secondary btn-lg">Visit Headline Source
                </a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Date Published:{{headline.time}}</small>
            </div>
                <br>
        </div>&nbsp;&nbsp;
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

